*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.app{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;
}
.app-container{
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px ;
    border-radius:  10px;
    margin:100px auto 20px;
}
h3{
    font-weight: 700;
    font-size: 20px;
    color: orangered;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom:25px ;
}
input{
    flex:1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 14px;

}
button#add-btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 32px;
}
ul li{
    /* display: flex;
    justify-content: space-between; */
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    /* background-image: url(/img/images.jpg); */
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    left: 8px;
    top: 6px;
}
ul li.checked{
    text-decoration: line-through;
    color: #555;    
}
ul li.checked::before{
    background-image: url(/img/images.jpg);

}

ul li span { /* xoa */
    position: absolute;
    right: 0;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
}

ul li span:hover {
    background: #edeef0;
}
#deleteALL{
    padding: 10px 20px;
    cursor: pointer;
    color: #000;
    font-size: 18px;
    float: right;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #000;
    background-color: rgb(241, 2, 2);
}